
main h2, h3 {
    text-align: center;
    padding: 10px;
}

main p {
    padding: 10px;
}

.ticker {
    padding: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.tickertr {
    display: inline-flex;
    animation: scroll 20s linear infinite;
}

.tickertr img {
    height: 120px;
    width: auto;
    object-fit: cover;
    transition: all 0.5s ease;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.ticker:hover .tickertr {
    animation-play-state: paused;
}

.ticker img:hover {
    scale: 1.1;
}

