.padding-element {
    padding: 10px 10px;
}

#margin-hr {
    margin: 20px 0 10px 0;
}

.flex {
    display: flex;
}

.title img {
    width: 300px;
    height: 300px;
    border-radius: 45px;
}

.title {
    background-color: #E1E2EF;
    margin: 10px;
    border-radius: 50px;
    color: #4A2040;
}

h2 {
    text-align: center;
    font-size: 50px;
}

.title-text {
    flex-grow: 1;
    align-items: center;
}

p {
    padding: 10px;
}

.title-text p {
    font-size: 20px;
}

.info {
    flex-direction: column;
}

figure img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

figcaption {
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    font-size: 30px;
    color: #14342B;
    padding: 16px;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    transform: scale(1.2);
}

.slide {
    display: none;
    text-align: center;
}

.slide.active {
    display: block;
}

.info-block {
    align-items: center;
}